.page {
    display: flex;
    max-width: 700px;
    width: 100%;
    margin: 45px auto 0;
}

.info {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Item {
        margin-bottom: 10px;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    .status {
        position: absolute;
        text-align: right;
        right: -35px;
        top: -15px;
        padding: 5px;
        border-radius: 8px;
        letter-spacing: 1px;
        font-size: 13px;
    }

    .open {
        background-color: #f1e489;
    }

    .approved {
        background-color: hsl(120deg 35% 81%);
    }

    .rejected {
        background-color: #db9494;
    }
}

.toOpen {
    width: 95px;
    text-align: center;
    background: #e4e4e4a6;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all .3s;

    &:hover {
        background: #c9c8c8a6;
    }
}

.toOpen {
    cursor: pointer;

    &:hover {}
}

.docs {
    position: relative;
    height: 290px;
    width: 350px;

    iframe {
        height: 290px;
        width: 350px;
    }

    .docImage {
        height: 290px;
        width: 350px;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}